.wrapper {
  display: flex;
  background-color: rgb(255, 176, 0);
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template: repeat(10, 30px) / repeat(10, 30px);
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: darkgray;
}

@media screen and (orientation: portrait) and (min-width: 360px),
      screen and (orientation: landscape) and (min-height: 360px) {
  .grid {
    grid-template: repeat(10, 36px) / repeat(10, 36px);
    grid-gap: 1px;
  }
}

@media screen and (orientation: portrait) and (min-width: 768px),
    screen and (orientation: landscape) and (min-height: 768px) {
  .grid {
    grid-template: repeat(10, 60px) / repeat(10, 60px);
    grid-gap: 2px;
  }
}
