.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ships {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
}

.sunk {
  color: darkgray;
  text-decoration: line-through;
}

@media screen and (orientation: portrait) and (min-width: 768px),
      screen and (orientation: landscape) and (min-height: 768px) {
  .ships {
    font-size: 1.5rem;
  }
}